.adminBackground {
  background-color: #e6f2ff; /* Light pink for admins */
}

.translatorBackground {
  background-color: #e6f3e6; /* Light beige for translators */
}

.fullHeight {
  min-height: 100vh;
}
